body{
    background-color: blue;
}

.img1{
    position: absolute;
    left: 700px;
    top: 100px;
    background-image: url("foldenclose.png");;
    transition: background-image 0.4s;
    height: 50px;
    width: 50px;
}


