body{
    background-image: url("bg1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.img1{
    position: absolute;
    left: 700px;
    top: 100px;
    background-image: url("foldenclose.png");
    height: 50px;
    width: 50px;
}


.img2{
    position: absolute;
    left: 800px;
    top: 100px;
    background-image: url("foldenclose.png");
    height: 50px;
    width: 50px;
}

.img3{
    position: absolute;
    left: 700px;
    top: 200px;
    background-image: url("foldenclose.png");
    height: 50px;
    width: 50px;
}

.img4{
    position: absolute;
    left: 800px;
    top: 200px;
    background-image: url("foldenclose.png");
    height: 50px;
    width: 50px;
}

.img5{
    position: absolute;
    left: 700px;
    top: 300px;
    background-image: url("foldenclose.png");
    height: 50px;
    width: 50px;
}

.img6{
    position: relative;
    left: 800px;
    top: 300px;
    background-image: url("foldenclose.png");
    height: 50px;
    width: 50px;
}

.img7{
    position: relative;
    left: 800px;
    top: 300px;
    background-image: url("foldenclose.png");
    height: 50px;
    width: 50px;
}


dialog{
    border: none;
    padding: 0;
    width: 700px;
    height: 400px;
    background: beige;
    color: black;
    
}

dialog::backdrop{
    background: rgba(0,0,0,0.5);
}

#pop-title{
    display: flex;
    padding: 30px 38px; 
    align-items: center;
    padding-left: 10px;
    background-color: rgb(146, 146, 231);
}

.name{
    font-weight: 600;
    padding-left: 8px;
    font-family: "Pixelify Sans", sans-serif;
    line-height: 1.2;
    font-size: 2rem;
}

#close{
    background: red;
    color: black;
    font-size: 20px;
    cursor: pointer;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 6px;
    position: absolute;
    left: 97%;
    top: 0%;
}

#pop-body{
    font-size: 22px;
    font-family: "Pixelify Sans", sans-serif;
    padding-left: 15px;
    padding-top: 10px;
}

button{
    background-color: blue;
}

#exit{
    width: 350px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px black;
    border-radius: 15px;
    background: black;
    position: absolute;
    top: 400px;
    left: 50px;
}

#exit-code{
    font-size: 18px;
}

#exit-pass{
    padding: 10px;
    font-size: 1.1em;
    border-radius: 8px;
    background: #19264b;
    color: #d5f1ff;
    margin-bottom: 10px;
    outline: none;
}

#exit-button{
    background: #419eba;
    font-weight: bold;
    border: none;
    border-radius: 7px;
    padding: 9px 0;
    font-size: 1.1em;
    cursor: pointer;
}



