body{
    background-color: blue;
}

.img1{
    position: absolute;
    left: 700px;
    top: 100px;
    background-image: url("foldenclose.png");
    height: 50px;
    width: 50px;
}


.img2{
    position: absolute;
    left: 800px;
    top: 100px;
    background-image: url("foldenclose.png");
    height: 50px;
    width: 50px;
}

.img3{
    position: absolute;
    left: 700px;
    top: 200px;
    background-image: url("foldenclose.png");
    height: 50px;
    width: 50px;
}

.img4{
    position: absolute;
    left: 800px;
    top: 200px;
    background-image: url("foldenclose.png");
    height: 50px;
    width: 50px;
}

dialog{
    border: none;
    padding: 0;
    width: 400px;
    height: 300px;
    background: white;
    color: black;
}

dialog::backdrop{
    background: rgba(0,0,0,0.5);
}

.pop-title{
    display: flex;
    padding: 20px 28px;
    font-size: 20px;
    align-items: center;
}

#name{
    font-weight: 600;
    font-family:'Gill Sans', 'Gill Sans MT';
}

#close{
    background: red;
    color: black;
    font-size: 20px;
    cursor: pointer;
    padding: 2px 4px;
}

#pop-body{
    font-size: 22px;
    font-family: 20px;  /* I will change later to pixel probably when i import the font*/
}