p{
    font-family: "Pixelify Sans", sans-serif;
}

.bodybox{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 125px;
    left: 400px;
    background-color: white;
    padding: 40px 40px;

}

body{
    background-color: rgb(2, 35, 2);
}

p{
    font-size: 20px;
    font-family: "Pixelify Sans", sans-serif;

}