html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
    overflow: hidden;
}

.beginning{
    position: absolute;
    z-index: -1;
    background-color: rgb(253, 253, 253);
    justify-content: center;
    text-align: center;
    left: 450px;
    top: 150px;
    padding: 40px;
    padding-left: 80px;
    padding-right: 80px;
    border: dotted 7px rgb(14, 103, 14);
}

button{
    font-size: 32px;
    border-radius: 16px;
    transition: 0.3s ease;
    font-family: "Pixelify Sans", sans-serif;

}

button:hover{
    transform: scale(0.9) rotate(-3deg);
    background-color: rgb(140, 173, 243);

}

p{
    color: rgb(20, 1, 1);
    font-size: 50px;
    font-family: "Griffy", system-ui;
}

