html, body{
    margin: 0;
    padding: 0;
    background-color: rgb(0, 0, 0);
}

.beginning{
    position: absolute;
    z-index: -1;
}

button{
    font-size: 32px;
    border-radius: 16px;
    transition: 0.3s ease;
    font-family: "Pixelify Sans", sans-serif;

}

button:hover{
    transform: scale(0.9) rotate(-3deg);
    background-color: wheat;

}

p{
    color: white;
    font-size: 50px;
    font-family: "Griffy", system-ui;
}

